body {
  font-family: 'Computer Modern Roman', serif;
  background: linear-gradient(135deg, #0a0f2e, #0f3ca5); /* darker futuristic version */
  color: #30c122;
  margin: 0;
  padding: 0;
}




nav a {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
  font-weight: bold;
}

header {
  padding: 1rem;
  background-color: rgba(0,0,0,0.3);
}

main {
  padding: 2rem;
}
